@import "tailwindcss";

/* ChartStyles.css */

@media (width: 1024px) {
  .chart-container {
    height: 300px !important;
    overflow: hidden;
  }
}

  
/* Scrollable but hidden scrollbar */
.your-div {
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

.your-div::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

body{
  overflow: hidden;
  margin: 0;
  padding: 0;
}

 